*{
  margin: 0;
  padding: 0;
}

header{
  background-image: url('img/pattern.png');
  background-size: 30%;
  background-color: #4ea0ff;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
}

header .logo img{
  width: 200px;
}

main{
  padding: 20px;
}

main .dida{
  color: gray;
  font-size: .9rem;
  margin-bottom: 10px;
}

main .dida p{
  padding-bottom: 5px;
}

main .dida .name{
  color: #4fa0ff;
}

main .foto .caption{
  font-size: .8rem;
  margin-bottom: 10px;
}

main .text{
  margin-bottom: 20px;
}

main ul{
  padding-left: 15px;
  margin-bottom: 20px;
}